#editionMode{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}
#editionMode span{
  margin-right: 10px;
}
#editionMode span i{
  margin-right: 5px;
}
#editionMode button{
  height: 38px;
  border-radius: 60px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer ;
}

#theFiltre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#theFiltre li {
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 7px 20px;
  margin: 5px;
  cursor: pointer;
}
#theFiltre li.active{
    background-color: #1D6154;
    color: #fff;
}
figure.hide{
    display: none;
}
figure.active{
    display: block;
}

#introduction figure figcaption{
  margin-left: 10%;
  margin-top: 10px;
}
.edit i{
  margin-right: 10px;
  cursor: pointer;
}

#portfolio{
  text-align: center;
}
#portfolio h2{
  display: inline-block;
  margin-right: 20px;
}
.editionElements{
  visibility: hidden;
}
#editionMode{
  display: none;
}